<div class="container">
    <!-- <div class="alert alert-info text-center" role="alert">
      To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started on Heroku with Node.js</a> tutorial.
    </div> -->
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h3><span i class="fa-solid fa-search"></i></span> How to use Jeep Torque Specs</h3>
        <ul>
          <li>Step 1:  Select the Jeep Model from the dropdown.  (TJ, JK, JL, or JT)</li>
          <!-- <img src="/img/model.png"> -->
          <img src =https://via.placeholder.com/200x45.png />
  
          <li>Step 2:  Select the category.  (Body, Brakes, Suspension, etc)</li>
          <!-- <img src="/img/category.png"> -->
          <img src =https://via.placeholder.com/200x45.png />

          <li>Step 3:  Select search.</li>
          <!-- <img src="/img/category.png"> -->
          <img src =https://via.placeholder.com/200x45.png />
        </ul>
      </div>
      <div class="col-md-6">
        <h3><span class="fa fa-search"></span> Bla Bla Bla...</h3>
        <div class="row">
            <div class="col-lg-4">
                <!-- Jeep Model
                <select class="combobox form-control" name="horizontal" required="required">
                    <option value="" selected="selected">Select a Model</option>
                    <option value="TJ">TJ</option>
                    <option value="JK">JK</option>
                    <option value="JL">JL</option>
                    <option value="JT">JT</option>
                </select>  -->
            </div>
            <div class="col-lg-6">
                <!-- Category 
                <select class="combobox form-control" name="horizontal" required="required">
                    <option value="" selected="selected">Select a Category</option>
                    <option value="Brakes">Brakes</option>
                    <option value="Body">Body</option>
                    <option value="Cooling">Cooling</option>
                </select> -->
            </div>
            <div class="col-lg-2">
              <!-- <button type="button" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button> -->
            </div>
        </div>
      </div>
    </div> <!-- row -->
  </div>