<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 ">
                <div class="copyright-text">
                    <p>Copyright © 2022 Jeep Torque Specs All Rights Reserved</p>
                </div>
            </div> <!-- End Col -->
            <div class="col-sm-6">							
                <ul class="social-link pull-right">
                    <li><a href="https://github.com/UnDim"><i class="fa-brands fa-github"></i></a></li>						
                    <li><a href="mailto:shannon.odam@icloud.com?subject=Jeep Torque Specs Website"><i class="fa-solid fa-at"></i></a></li>
                    <!-- <li><a href=""><span class="glyphicon glyphicon-heart-empty"></span></a></li>
                    <li><a href=""><span class="glyphicon glyphicon-heart-empty"></span></a></li>
                    <li><a href=""><span class="glyphicon glyphicon-heart-empty"></span></a></li> -->
                </ul>							
            </div> <!-- End Col -->
        </div>
    </div>
</div>