.jumbotron {
  background: #8D8741;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;}
    
    .jumbotron .lang-logo img {
      max-width: 100%; }
      .footer-bottom {
        padding: 40px 0 30px;
        border-top: 1px solid #666;
        background: #1e1e1e;
    }
    .copyright-text p {
        color: #ccc;
        margin-top: 9px;
        margin-bottom: 0;
    }
    .social-link li {
        display: inline-block;
        margin: 0 5px;
    }
    .social-link li a {
        color: #ccc;
        border: 1px solid #ccc;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        text-align: center;
        display: inline-block;
        font-size: 14px;
        transition: .5s;
    }
    .social-link li a:hover {
      background-color: #ccc;
      color: black;
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }