<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/logo.png">
    </a>
    <h1>Jeep Torque Specs</h1>
    <p>A comprehensive searchable list of torque specifications for Jeep TJ, JK, JL, and JT.  </p>
    <a type="button" class="btn btn-lg btn-default" href="/db"><span class="fa fa-search"></span> Torque Spec Search</a>
  </div>
</div>

<%- include ("../partials/body.ejs") %> 
  
<hr>
<%- include ("../partials/footer.ejs") %>
</body>
</html>
